@model Sample.Models.LoginViewModel

@{
    ViewBag.Title = "Login";
}

<script type="text/javascript">
    var app = angular.module("app", []);
    app.controller("LoginController", function ($scope) {

        $scope.refreshCaptcha = function () {
            
            $scope.captcha = '@Url.Action("Captcha")'+"?"+new Date().getTime();
        };
    });
</script>

@using (Html.BeginForm()) 
{
    @Html.AntiForgeryToken()

    <div ng-app="app">
        <div class="panel panel-primary" ng-controller="LoginController">
            <div class="panel-heading">登入表單</div>
            <div class="panel-body" style="position: relative;">
                @Html.ValidationSummary(true, "", new { @class = "text-danger" })


                <div class="form-group">
                    @Html.LabelFor(model => model.Email)
                    <input class="form-control" ng-model="email" type="email" required name="Email"/>
                    @Html.ValidationMessageFor(model => model.Email, "", new { @class = "text-danger" })
                </div>

                <div class="form-group">
                    @Html.LabelFor(model => model.Password)
                    @Html.PasswordFor(model => model.Password,  new { @class = "form-control" })
                    @Html.ValidationMessageFor(model => model.Password, "", new { @class = "text-danger" })
                </div>

                <div class="form-group">
                    @Html.LabelFor(model => model.Captcha)
                    <p>
                        <img ng-src="{{captcha}} " alt="captcha"
                             ng-init="refreshCaptcha()"
                             ng-click="refreshCaptcha()" />
                        @Html.EditorFor(model => model.Captcha, new { htmlAttributes = new { @class = "form-control" } })
                        @Html.ValidationMessageFor(model => model.Captcha, "", new { @class = "text-danger" })
                    </p>
                </div>

                <div style="position: absolute; top: 16px; right: 16px;">
                    <a class="btn btn-primary" href="@Url.Action("FacebookLogin")">Facebook</a>
                </div>
            </div>
            <div class="panel-footer">
                <div style="float: right;">
                    <button class="btn btn-default">登入</button>
                </div>
                <div style="float: left;">
                    <a class="btn btn-link" href="@Url.Action("Register")">註冊</a>
                    <a class="btn btn-link" ng-href="{{'@Url.Action("Forgot")'+'?email='+email}}">忘記密碼</a>
                </div>
                <div class="clearfix"></div>
            </div>
        </div>
    </div>
}

